<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/ima.jpeg);">
<div class="login-box card">
<div class="card-body">
<form class="form-horizontal form-material" (ngSubmit)="login(form);" #form="ngForm">
 <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logohe.png" alt="Home" /><br/></a>
 <div class="form-group m-t-40">
<div class="col-xs-12">
<input type="email" [(ngModel)]="auth.email" name="email" class="form-control"  placeholder="Usuario" required>
</div>
 </div>
 <div class="form-group">
<div class="col-xs-12">
<input type="password" [(ngModel)]="auth.password" name="password" class="form-control"  placeholder="*******" required>
<div class="invalid-feedback">
  Insertar porfavor su password
</div>
</div>
 </div>
 <div class="form-group row">
<div class="col-md-12">
<div class="checkbox checkbox-primary pull-left p-t-0">
<input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
<label for="checkbox-signup"> Recuerdame </label>
</div>
<a href="javascript:void(0)" id="to-recover"  routerLink="/recuperacion"  class="text-dark pull-right"><i class="fa fa-lock m-r-8"></i> ¿Olvidaste tu contraseña?</a> </div>
 </div>
 <div class="form-group text-center m-t-20">
<div class="col-xs-12">
    <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Iniciar sesión</button>
</div>
 </div>
 <div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
<div class="social"> 
  <a href="javascript:void(0)" class="btn btn-info" title="Iniciar sesión con Google" (click)="signInWithGoogle()"> 
    <img src="https://www.iconfinder.com/data/icons/social-media-2210/24/Google-512.png" style="width:30px; background:white; border-radius:50%;" alt="">
  Continuar con google
  </a>
</div>
</div>
 </div>
 <div class="form-group m-b-0">
<div class="col-sm-12 text-center">
¿No tienes una cuenta? <a routerLink="/register" class="text-primary m-l-5"><b> Regístrate</b></a>
</div>
 </div>
</form>
<form class="form-horizontal" id="recoverform" action="index.html">
 <div class="form-group ">
<div class="col-xs-12">
<h3>Recuperar contraseña</h3>
<p class="text-muted">¡Ingrese su correo electrónico y se le enviarán instrucciones! </p>
</div>
 </div>
 <div class="form-group ">
<div class="col-xs-12">
<input class="form-control" type="text" required="" placeholder="Correo">
</div>
 </div>
 <div class="form-group text-center m-t-20">
<div class="col-xs-12">
<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reiniciar</button>
</div>
 </div>
</form>
</div>
</div>
</section>
