<body id="default_theme" class="home_page1">
  <!-- header -->
  <header class="header header_style1">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-10">
          <div class="logo"><a href="index.html"><img src="../../../assets/images/healthwell.png" alt="#" /></a></div>
          <div class="main_menu float-right">
            <div class="menu">
              <ul class="clearfix">
                <li class="active"><a routerLink="/informacion">Inicio</a></li>
                <li class="active"><a routerLink="/equipo">Equipo de trabajo</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2">
          <div class="right_bt"><a class="bt_main btn-rounded" routerLink="/login">Iniciar sesión</a> </div>

        </div>
      </div>
    </div>
  </header>
  <section id="banner_parallax" class="slide_banner1">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="full">
            <div class="slide_cont">
              <h2>HealthWell</h2>
              <p>Las aplicaciones HealthWell fueron desarrolladas pensando en el bienestar de todas las personas que
                padecen hipertensión
                con la finalidad de que cada paciente con dicha enfermedad pueda llevar un mejor control sobre su
                presión arterial y de igual forma
                su médico pueda dar un mejor diagnostico en cuanto a su estado de salud.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="full">
            <div class="slide_pc_img wow fadeInRight" data-wow-delay="1s" data-wow-duration="2s"> <img
                src="../../../assets/images/compu2.png" alt="#" /> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section -->
  <br>
  <section class="layout_padding padding_top_0">
    <div class="container">
      <div class="row margin_bottom_30">
        <!-- featured cont -->
        <div class="col-md-6 cont_theme_blog">
          <div class="full">
            <h3>Aplicación Móvil</h3>
            <p>Nuestra aplicación móvil esta dirigida a los pacientes con hipertensión, que quieran llevar un mejor
              control de su salud, proporcionandole herramientas para el seguimiento de su enfermedad que lo ayuden a
              tener un mejor estilo de vida. </p>
          </div>
        </div>
        <!-- end featured cont -->
        <!-- featured image -->
        <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
          <div class="full">
            <div class="center"><img src="../../../assets/images/movil.png" alt="#" /></div>
          </div>
        </div>
        <!-- end featured image -->
      </div>
      <div class="row margin_bottom_30">
        <!-- featured image -->
        <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5" data-wow-duration="1s">
          <div class="full">
            <div class="center"><img src="../../../assets/images/appweb.png" alt="#" /></div>
          </div>
        </div>
        <!-- end featured image -->
        <!-- featured cont -->
        <div class="col-md-6 cont_theme_blog">
          <div class="full">
            <h3>Aplicación Web</h3>
            <p>Nuestra aplicación web esta dirigida a todos los medicos que tengan como pacientes a personas con
              hipertensión, llevandoles a ellos una herramienta de control de la enfermedad y obteniendo así mejores
              diagnosticos de cada paciente.</p>
          </div>
        </div>
        <!-- end featured cont -->
      </div>
    </div>
  </section>
  <section class="layout_padding gradiant_bg cross_layout">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="information_blogs">
            <div class="imf_icon"><img src="../../../assets/images/misión.png" alt="#" /></div>
            <div class="imf_head">
              <h3>Misión</h3>
            </div>
            <div class="imf_cont">
              <p>Proveer a los diferentes usuarios, de una herramienta tecnologíca para el control de la hipertensión.
              </p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="information_blogs">
            <div class="imf_icon"><img src="../../../assets/images/vision.png" alt="#" /></div>
            <div class="imf_head">
              <h3>Visión</h3>
            </div>
            <div class="imf_cont">
              <p>Contribuir a la mejora social en cuestion de la enfermedad y mejorar constantemente para implementar
                nuevas herramientas.</p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="information_blogs">
            <div class="imf_icon"><img src="../../../assets/images/valores.png" alt="#" /></div>
            <div class="imf_head">
              <h3>Valores</h3>
            </div>
            <div class="imf_cont">
              <p>-Aprender y mejorar como organización<br>
                -Respeto ante todo<br>
                -Compromiso
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="layout_padding layer_style">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="full text_align_center">
            <div class="heading_main center_head_border heading_style_1">
              <h2>Funciones <span>HealthWell</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row app-features">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="features-left">
            <li>
              <img src="../../../assets/images/brazo.png">
              <div class="fl-inner">
                <h4>Control de presión arterial</h4>
                <p>Dentro de este módulo el paciente podra llevar el control de su presión arterial diaria, registrada
                  día y noche. </p>
              </div>
            </li>
            <li>
              <img src="../../../assets/images/editar.png">
              <div class="fl-inner">
                <h4>Módulo de notas</h4>
                <p>Tanto la aplicación móvil como la web, contaran con un módulo de notas en el cuál tanto paciente como
                  doctor podran ingresar notas (opcionales) sobre el estado de salud
                  del paciente o una recomendación que el doctor de al mismo, con la finalidad de tener una comunicación
                  entre medico-paciente y obtener un mejor diagnostico por parte del medico. </p>
              </div>
            </li>
            <li>
              <img src="../../../assets/images/dieta.png">
              <div class="fl-inner">
                <h4>Módulo de dieta</h4>
                <p>Dentro de este módulo, el medico podra ingresar una dieta recomendada al paciente la cual podra ser
                  visualizada por el mismo dentro de la aplicación móvil </p>
              </div>
            </li>
            <li>
              <img src="../../../assets/images/meditacion.png">
              <div class="fl-inner">
                <h4>Módulo de ejercicio</h4>
                <p>Dentro de este módulo se veran reflejadas diferentes rutinas de ejercicio para el paciente, con la
                  finalidad de mejorar su estilo de vida</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="features-right">
            <li>
              <img src="../../../assets/images/bulbo.png">
              <div class="fr-inner">
                <h4>Módulo de consejos de salud</h4>
                <p>Dentro de este módulo se veran reflejados diferentes consejos de salud que ataquen directamente a las
                  personas con hipertensión con la finalidad de dar aun mas información en cuestio de la enfermedad.
                </p>
              </div>
            </li>
            <li>
              <img src="../../../assets/images/calendario.png">
              <div class="fr-inner">
                <h4>Módulo de calendario</h4>
                <p>Dentro de este módulo se encontrara un calendario que llevara el registro de las fechas y horarios
                  del módulo de ejercicio, de dieta y medicamentos, contanto con un recordatorio segun la fecha
                  establecida. </p>
              </div>
            </li>
            <li>
              <img src="../../../assets/images/expediente.png">
              <div class="fr-inner">
                <h4>Módulo de expedientes</h4>
                <p>Dentro de este módulo se encontraran todos los expediente del paciente organizados por fechas, los
                  cuales podran ser visualizados por medio de ambas aplicaciones. </p>
              </div>
            </li>
            <li>
              <img src="../../../assets/images/hospital.png">
              <div class="fr-inner">
                <h4>Módulo de instituciones medicas y pacientes</h4>
                <p>Dentro de este módulo se podran visualizar las instituciones medicas que cuentan con las aplicaciones
                  HealthWell y los medicos podran ingresar a sus pacientes en sus respectivas instituciones. </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
          <div class="full">
            <div class="center">
              <img src="../../../assets/images/cel.png" alt="#" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="layout_padding gradiant_bg cross_layout">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="full text_align_center white_fonts">
            <div class="heading_main center_head_border heading_style_1">
              <h2>Contactanos <span>@HealtWell</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row step_section">
        <div class="offset-xl-1 col-xl-10 col-md-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="step_blog arrow_right_step">
                <div class="step_inner">
                  <img src="../../../assets/images/face.png">
                  <p>Facebook</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="step_blog">
                <div class="step_inner">
                  <img src="../../../assets/images/twit.png">
                  <p>Twitter</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="step_blog">
                <div class="step_inner">
                  <img src="../../../assets/images/instagram.png">
                  <p>Instagram</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="step_blog">
                <div class="step_inner">
                  <img src="../../../assets/images/gmail.png">
                  <p>Correo electronico</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- section -->
  <section class="layout_padding">
    <div class="container">
      <div class="row">
        <div class="full">
          <div class="row">
            <div class="col-sm-12">
              <div class="full text_align_center">
                <div class="heading_main center_head_border heading_style_1">
                  <h2>Tabla de precios</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="full" style="margin-top:10px;">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="table_price text_align_center">
                  <div class="table_price_head">
                    <h5>Mensualidad</h5>
                  </div>
                  <div class="table_price_cont">
                    <div class="table_price_per">
                      <p>$2,000<br>
                        <small>1/mes</small>
                      </p>
                    </div>
                    <div class="table_price_cont_bottm">
                      <ul>
                        <li>Ambas aplicaciones</li>
                        <li>Todas las funcionalidades</li>
                        <li>Soporte tecnico</li>
                      </ul>
                    </div>
                  </div>
                  <div class="table_price_bottm"> <a class="bt_main btn-rounded" href="index.html">Comprar</a> </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="table_price text_align_center">
                  <div class="table_price_head">
                    <h5>Trimestre</h5>
                  </div>
                  <div class="table_price_cont">
                    <div class="table_price_per">
                      <p>$5,000<br>
                        <small>3/meses</small>
                      </p>
                    </div>
                    <div class="table_price_cont_bottm">
                      <ul>
                        <li>Ambas aplicaciones</li>
                        <li>Todas las funcionalidades</li>
                        <li>Soporte tecnico</li>
                      </ul>
                    </div>
                  </div>
                  <div class="table_price_bottm"> <a class="bt_main btn-rounded" href="index.html">Comprar</a> </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="active_price table_price text_align_center">
                  <div class="table_price_head">
                    <h5>Anualidad</h5>
                  </div>
                  <div class="table_price_cont">
                    <div class="table_price_per">
                      <p>$20,000<br>
                        <small>12/meses</small>
                      </p>
                    </div>
                    <div class="table_price_cont_bottm">
                      <ul>
                        <li>Ambas aplicaciones</li>
                        <li>Todas las funcionalidades</li>
                        <li>Soporte tecnico</li>
                      </ul>
                    </div>
                  </div>
                  <div class="table_price_bottm"> <a class="reverse_bt bt_main btn-rounded"
                      href="index.html">Comprar</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- section -->

  <!-- end section -->
  <!-- footer -->
  <footer class="footer_style_2">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin_bottom_30">
            <div class="full width_9" style="margin-bottom:25px;"> <a href="index.html"><img class="img-responsive"
                  width="250" src="../../../assets/images/healthwell.png" alt="#"></a> </div>
            <div class="full width_9">
              <p>El proyecto HealthWell fue desarrollado con la finalidad de mejorar el estilo de vida de las personas,
                tanto nosotros los desarrolladores, como todo aquel que aporto su granito de arena para su creación
                estamos comprometidos a mejorar constantemente para que cada usuario que la utilize pueda mejorar su
                estilo de vida.
              </p>
            </div>
            <div class="full width_9">
              <p>De todo corazón, esperamos que estas aplicaciones sean de gran ayuda para su mejora, con cariño, todo
                el Equipo HealthWell... </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
            <div class="full">
              <div class="footer_blog_2 width_9">
                <h3>Twitter</h3>
                <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                  Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines
                  #Negocios https://t.co/Y7tZMmxGHn
                </p>
                <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                  Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines
                  #Negocios https://t.co/Y7tZMmxGHn
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 margin_bottom_30">
            <div class="full">
              <div class="footer_blog_2">
                <h3>Social</h3>
              </div>
            </div>
            <div class="full">
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-facebook"></i> 256 Likes</a></li>
                <li><a href="#"><i class="fa fa-github"></i> 57+ Projects</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> 1,258 Followers</a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> 2538+ Pins</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
            <div class="full">
              <div class="footer_blog_2 width_9">
                <h3>Equipo de trabajo</h3>
              </div>
              <div class="blog_post_footer">
                <div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Andy.png" alt="#">
                </div>
                <div class="blog_post_cont">
                  <p class="date">Líder del equipo</p>
                  <p class="post_head">Desarrolladora BackEnd</p>
                </div>
              </div>
              <div class="blog_post_footer">
                <div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Moy.png" alt="#">
                </div>
                <div class="blog_post_cont">
                  <p class="date">Tester</p>
                  <p class="post_head">Desarrollador FrondEnd</p>
                </div>
              </div>
              <div class="blog_post_footer">
                <div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Diana.png" alt="#">
                </div>
                <div class="blog_post_cont">
                  <p class="date">Artista Gráfico</p>
                  <p class="post_head">Desarrolladora Móvil</p>
                </div>
              </div>
              <div class="blog_post_footer">
                <div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Pedro.png" alt="#">
                </div>
                <div class="blog_post_cont">
                  <p class="date">Analista</p>
                  <p class="post_head">Desarrollador FrondEnd</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer bottom -->
    <div class="footer_bottom">
      <p>Diseñado y Desarrollado por: <strong>HealthWell.Proyect</strong></p>
    </div>
  </footer>
</body>
