<div class="row">
  <div class="col-lg-12">
<div class="card">
<div class="card-header bg-info">
<h4 class="m-b-0 text-white">Agregar nuevo paciente<small></small></h4>
</div>
<div class="card-body">
<form action="#" class="form-horizontal form-bordered">

<div class="form-body">
  <!--<div class="form-group row">
    <label class="control-label text-right col-md-3">Nombre del paciente</label>
    <div class="col-md-9">
    <select class="form-control custom-select">
    <option value="">Moises Martinez Cid</option>
    <option value="">Roberto Gonzalez Cruz</option>
    </select>
    </div>
    </div>-->
    <div class="form-group row">
      <label class="control-label text-right col-md-3">Curp del paciente:</label>
      <div class="col-md-9">
        <input class="form-control" id="demo-input-search2" type="text" name="filtrarNombre" placeholder="Buscar por curp" autocomplete="off">
       </div>
      </div>

<div class="form-group row">
  <label class="control-label text-right col-md-3">Nombre</label>
  <div class="col-md-9">
  <input type="text" placeholder="Roberto" class="form-control">
   </div>
  </div>
  <div class="form-group row">
    <label class="control-label text-right col-md-3">Apellido Paterno</label>
    <div class="col-md-9">
    <input type="text" placeholder="Escalante" class="form-control">
     </div>
    </div>
    <div class="form-group row">
      <label class="control-label text-right col-md-3">Apellido Materno</label>
      <div class="col-md-9">
      <input type="text" placeholder="López" class="form-control">
       </div>
      </div>
</div>
<div class="form-actions">
<div class="row">
<div class="col-md-12">
<div class="row">
<div class="offset-sm-3 col-md-9 text-center" >
<button type="submit" class="btn btn-rounded btn-info m-r-10"> <i class="fa fa-check"></i> Registrar</button>
<button type="button" class="btn btn-rounded btn-danger">Cancelar</button>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
</div>
  </div>
</div>
