     <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
  <div class="row">
<!-- Column -->
<div class="col-lg-4 col-xlg-3 col-md-5">
<div class="card">
<div class="card-body">
 <div class="m-t-30"> <img src="../../../assets/images/avatar.jpeg" class="img-circle mx-auto d-block"  width="150" />
<h4 class="card-title m-t-10">Moises Martinez</h4>
<h6 class="card-subtitle">Paciente</h6>
 </div>
</div>
<div>
 <hr> </div>
<div class="card-body"> <small class="text-muted">Correo Eletrónico </small>
 <h6>mmoises591@gmail.com</h6> <small class="text-muted p-t-30 db">Teléfono</small>
 <h6>2781081535</h6>
 <div class="map-box">

 </div> <small class="text-muted p-t-30 db"></small>

</div>
</div>
</div>
<!-- Column -->
<!-- Column -->
<div class="col-lg-8 col-xlg-9 col-md-7">
<div class="card">
<!-- Nav tabs -->
<ul class="nav nav-tabs profile-tab" role="tablist">
  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Datos del Usuario</a> </li>
  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Diseño</a> </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
 <!--second tab-->
 <div class="tab-pane active" id="settings" role="tabpanel">
  <div class="card-body">
<form class="form-horizontal form-material">
  <div class="form-group">
<label class="col-md-12">Nombre completo</label>
<div class="col-md-12">
<input type="text" placeholder="Moises Martinez Cid" class="form-control form-control-line">
</div>
  </div>
  <div class="form-group">
<label for="example-email" class="col-md-12">Correo</label>
<div class="col-md-12">
<input type="email" placeholder="mmoises591@gmail.com" class="form-control form-control-line" name="example-email" id="example-email">
</div>
  </div>
  <div class="form-group">
<label class="col-md-12">Contraseña</label>
<div class="col-md-12">
<input type="password" value="password" class="form-control form-control-line">
</div>
  </div>
  <div class="form-group">
<label class="col-md-12">Teléfono</label>
<div class="col-md-12">
<input type="text" placeholder="2781081535" class="form-control form-control-line">
</div>
  </div>
  <div class="form-group">
    <label class="col-md-12">Cédula</label>
    <div class="col-md-12">
    <input type="text" placeholder="278sqQSRQ" class="form-control form-control-line">
    </div>
      </div>


  <div class="form-group">
<div class="col-sm-12">
<button class="btn btn-rounded btn-success">Guardar</button>
</div>
  </div>
</form>
</div>
 </div>
 <div class="tab-pane" id="profile" role="tabpanel">
  <div class="card-body">
    <div class="row">
      <div class="col-4">

      <h4>Seleccione el tema</h4>

      <div class="r-panel-body">
      <ul id="themecolors" class="m-t-20">
      <li><b>Con el sidebar claro</b></li>
      <!-- working -->
      <li><a (click)="changeTheme('default')" data-theme="default" class="selector default-theme working">1</a></li>
      <li><a (click)="changeTheme('green')" data-theme="green" class="selector green-theme">2</a></li>
      <li><a (click)="changeTheme('red')" data-theme="red" class="selector red-theme">3</a></li>
      <li><a (click)="changeTheme('blue')" data-theme="blue" class="selector blue-theme">4</a></li>
      <li><a (click)="changeTheme('purple')" data-theme="purple" class="selector purple-theme">5</a></li>
      <li><a (click)="changeTheme('megna')" data-theme="megna" class="selector megna-theme">6</a></li>


      </ul>

      </div>

      </div>
      </div>
</div>
</div>
</div>
</div>
</div>
<!-- Column -->
</div>
<!-- Row -->
