 <!-- ============================================================== -->
 <section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/ima.jpeg);">
<div class="login-box card">
<div class="card-body">
<form class="form-horizontal form-material" id="loginform" action="pages-register1.html">
<h3 class="box-title m-b-20">Registrarse</h3>
<div class="form-group">
<div class="col-xs-12">
  <input class="form-control" type="text" required="" placeholder="Nombre">
</div>
</div>
<br>
<div class="form-group ">
<div class="col-xs-12">
  <input class="form-control" type="text" required="" placeholder="Apellidos">
</div>
</div>
<br>
<div class="form-group ">
  <div class="col-xs-12">
    <input class="form-control" type="text" required="" placeholder="Curp">
  </div>
</div>
<br>
  <div class="form-group ">
    <div class="col-xs-12">
      <input class="form-control" type="text" required="" placeholder="Domicilio">
    </div>
    </div>
    <br>
<div class="form-group ">
<div class="col-xs-12">
  <input class="form-control" type="text" required="" placeholder="Teléfono">
</div>
</div>
<br>

<br>


<div class="form-group text-center p-b-20">
<div class="col-xs-12">
  <button class="btn btn-block btn-lg btn-success btn-rounded" type="submit" routerLink="/register2">Siguiente</button>
</div>
</div>
</form>
</div>
</div>
</div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
