
<header class="topbar">
<nav class="navbar top-navbar navbar-expand-md navbar-light">

<div class="navbar-header">
<a class="navbar-brand">
<b>

<img src="../../../assets/images/Healthwell40x40.png" alt="homepage" class="dark-logo" />

<img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />

</b>
<span>

<img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />

<img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
</div>

<div class="navbar-collapse">

<ul class="navbar-nav mr-auto">

<li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
<li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
<li class="nav-item hidden-sm-down"></li>
</ul>
<ul class="navbar-nav my-lg-0">
<li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
<form class="app-search">
<input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
</a>
<div class="dropdown-menu mailbox dropdown-menu-right animated fadeIn fast" aria-labelledby="2">
<ul>
<li>
<div class="drop-title">Tienes 4 recetas nuevas</div>
</li>
<li>
<div class="message-center">

<a href="#">
<div class="user-img"> <img src="./assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
<div class="mail-contnet">
<h5>Doctor David.</h5> <span class="mail-desc">Nueva receta!</span> <span class="time">9:30 AM</span> </div>
</a>

<a href="#">
<div class="user-img"> <img src="./assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
<div class="mail-contnet">
<h5>Doctora Emiliano</h5> <span class="mail-desc">Nueva receta!</span> <span class="time">9:10 AM</span> </div>
</a>

<a href="#">
<div class="user-img"> <img src="./assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
<div class="mail-contnet">
<h5>Doctora Eduardo</h5> <span class="mail-desc">Nueva receta!</span> <span class="time">9:08 AM</span> </div>
</a>

<a href="#">
<div class="user-img"> <img src="./assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
<div class="mail-contnet">
<h5>Doctora Abril</h5> <span class="mail-desc">Nueva receta!</span> <span class="time">9:02 AM</span> </div>
</a>
</div>
</li>
<li>
<a class="nav-link text-center" href="javascript:void(0);"> <strong>Recetas médicas</strong> <i class="fa fa-angle-right"></i> </a>
</li>
</ul>
</div>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../../assets/images/avatar.jpeg" alt="user" class="profile-pic" /></a>
<div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
<ul class="dropdown-user">
<li>
<div class="dw-user-box">
<div class="u-img"><img src="../../../assets/images/avatar.jpeg" alt="user"></div>
<div class="u-text">
<h4 *ngIf="dato">{{name}}</h4>
<p class="text-muted" *ngIf="dato">{{email}}</p><a routerLink="perfil" class="btn btn-rounded btn-info btn-sm">Ver perfil</a></div>
</div>
</li>
<li role="separator" class="divider"></li>

<li role="separator" class="divider"></li>
<li>
<a (click)="salir();">
<i class="fa fa-power-off"></i>
Cerrar sesión
</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</nav>
</header>

