        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Doctores registrados</h4>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"><i class="ti-use"></i></span> <span class="hidden-xs-down">Doctores desbloqueados</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Doctores bloqueados</span></a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">
                           <br>
                    <button type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#nuevo"
                    data-whatever="@mdo" style="float: right;">
                    <i class="ti ti-user"></i>
                    Nuevo doctor
                  </button>
                        <div class="table-responsive m-t-40">
                            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10"
                              *ngIf="!cargando && doctors.length > 0">
                              <thead class="table-info">
                                <tr>
                                  <th>Id</th>
                                  <th>Nombre</th>
                                  <th>Correo</th>
                                  <th>Bloquear</th>
                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let doctors of doctors; let i = index">
                                  <td scope="arrow">{{ i+ 1 }}</td>
                                  <td>{{doctors.doctor}}</td>
                                  <td>{{doctors.email}}</td>
                                  <td>
                                    <button class="btn btn-danger mr-1" (click)="borrar(doctors,i)">
                                      <i class="mdi mdi-block-helper"></i>
                                    </button>
                               </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!cargando && doctors.length == 0"
                              class="alert alert-warning text-center mt-3 animated fadeIn fast">
                              <h4 class="alert-heading">No hay registros</h4>
                              <p>
                                <i class="fa fa-exclamation fa-2x"></i>
                              </p>
                            </div>
                            <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn fast">
                              <h4 class="alert-heading">Cargando</h4>
                              <p>
                                <i class="fa fa-circle-o-notch"></i>
                              </p>
                              <p class="mb-0">
                                Espere por favor
                              </p>
                            </div>
                          </div>
                    </div>
                    <div class="tab-pane  p-20" id="profile" role="tabpanel">
                        <div class="table-responsive m-t-40">
                            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10"
                              *ngIf="!cargando2 && doctors2.length > 0">
                              <thead class="table-info">
                                <tr>
                                  <th>Id</th>
                                  <th>Nombre</th>
                                  <th>Correo</th>
                                  <th>Desbloquear</th>
                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let doctors2 of doctors2; let j = index">
                                  <td scope="arrow">{{ j+ 1 }}</td>
                                  <td>{{doctors2.doctor}}</td>
                                  <td>{{doctors2.email}}</td>
                                  <td>
                                    <button class="btn btn-success mr-1" (click)="desbloquear(doctors2,j)">
                                      <i class="mdi mdi-replay"></i>
                                    </button>
                               </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!cargando2 && doctors2.length == 0"
                              class="alert alert-warning text-center mt-3 animated fadeIn fast">
                              <h4 class="alert-heading">No hay registros</h4>
                              <p>
                                <i class="fa fa-exclamation fa-2x"></i>
                              </p>
                            </div>
                            <div *ngIf="cargando2" class="alert alert-info text-center mt-3 animated fadeIn fast">
                              <h4 class="alert-heading">Cargando</h4>
                              <p>
                                <i class="fa fa-circle-o-notch"></i>
                              </p>
                              <p class="mb-0">
                                Espere por favor
                              </p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="nuevo" tabindex="-1" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog  modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel1">Registrar un nuevo doctor</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="guardar( form )" #form="ngForm">
                    <div class="form-row" *ngIf="!dato">
                      <div class="form-group col-md-4">
                        <label for="name" class="control-label">Nombre:</label>
                        <input [(ngModel)]="registro.name"  name="name" type="text" class="form-control" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="ap_patern">Apellido paterno:</label>
                        <input [(ngModel)]="registro.ap_patern" name="ap_patern" type="text" class="form-control" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="ap_matern">Apellido materno:</label>
                        <input [(ngModel)]="registro.ap_matern"  name="ap_matern" type="text" class="form-control" required>
                      </div>
                  </div>
                  <div class="form-row" *ngIf="!dato">
                    <div class="form-group col-md-4">
                      <label for="curp">Curp:</label>
                      <input [(ngModel)]="registro.curp"  name="curp" type="text" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="cell_phone">Teléfono celular:</label>
                      <input [(ngModel)]="registro.cell_phone"  name="cell_phone" type="text" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="telefone">Teléfono:</label>
                      <input [(ngModel)]="registro.telefone"  name="telefone" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-row" *ngIf="!dato">
                  <div class="form-group col-md-4">
                    <label for="email">Correo electrónico:</label>
                    <input [(ngModel)]="registro.email"  name="email" type="text" class="form-control" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="password">Contraseña:</label>
                    <input [(ngModel)]="registro.password"  name="password" type="password" class="form-control" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="password_confirmation">Confirmar contraseña:</label>
                    <input [(ngModel)]="registro.password_confirmation"  name="password_confirmation" type="password" class="form-control" required>
                  </div>
              </div>
              <div class="form-row" *ngIf="dato">
                <div class="form-group col-md-4">
                  <label for="id_card" class="control-label">Cédula:</label>
                  <input [(ngModel)]="registro.id_card"  name="id_card" type="text" class="form-control" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="specialty">Especialidad:</label>
                  <input [(ngModel)]="registro.specialty"  name="specialty" type="text" class="form-control" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="sub_especialty">Sub especialidad:</label>
                  <input [(ngModel)]="registro.sub_especialty"  name="sub_especialty" type="text" class="form-control" required>
                </div>
            </div>
            <div class="form-row" *ngIf="dato">
                <div class="form-group col-md-4">
                  <label for="consulting_room" class="control-label">Numero de consultorio:</label>
                  <input [(ngModel)]="registro.consulting_room"  name="consulting_room" type="text" class="form-control" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="hospital">Hospital:</label>
                    <select [(ngModel)]="registro.hospitals_id" name="hospital"class="form-control">
                   <option value="0">Seleccionar</option>
                   <option *ngFor="let hospitales of hospitales; let i = index" value="{{hospitales.id}}">{{hospitales.name}}</option>
                    </select>
                   </div>
            </div>
                    <div class="form-group text-center">
                      <button type="button" class="btn btn-rounded btn-info m-r-10" (click)="clickTrue($event);" *ngIf="!dato">
                        <i class="fa fa-arrow-right"></i>
                        Siguiente
                      </button>
                      <button type="button" class="btn btn-rounded btn-danger m-r-10" (click)="clickFalse();" *ngIf="dato">
                        <i class="fa fa-arrow-left"></i>
                        Regresar
                      </button>
                      <button type="submit" class="btn btn-rounded btn-info m-r-10"*ngIf="dato">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                      <button type="button" class="btn btn-rounded btn-success">
                      <i class="ti ti-reload"></i>
                        limpiar
                      </button>
          
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>