<div class="row">
       <div class="col-12">
           <div class="card">
  <div class="card-body">
      <h4 class="card-title">Lista de usuarios conectados</h4>
      <h6 class="card-subtitle"></h6>
      <button type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#nuevo"
      data-whatever="@mdo" style="float: right;">
      <i class="ti ti-user"></i>
      Nuevo administrador
    </button>
      <div class="table-responsive">
        <!--<button type="button" class="btn btn-success" style="float: right;" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Nuevo usuario</button>-->
        <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10"
        *ngIf="!cargando && admins.length > 0">
 <thead class="table-info">
     <tr>
       <th>Id</th>
         <th>Nombre</th>
         <th>Correo electrónico</th>
        <th>Rol</th>
         <th>foto</th>
         <th>Opciones</th>
     </tr>
 </thead>
 <tbody>
     <tr *ngFor="let admins of admins; let i = index">
         <td class="scope">{{i+1}}</td>
         <td>{{admins.name}}</td>
         <td>{{admins.email}}</td>
         <td>{{admins.name}}</td>
         <td>   
           <div class="card" style="width: 2rem;">
          <img class="w-100" src="{{'http://127.0.0.1:8000/images/'+admins.photo}}">
        </div>
      </td>
          <td>
              <button class="btn btn-danger mr-1" (click)="borrar(admins,i)">
                <i class="fa fa-trash"></i>
              </button>
         </td>
     </tr>
 </tbody>

          </table>
          <div *ngIf="!cargando && admins.length == 0"
          class="alert alert-warning text-center mt-3 animated fadeIn fast">
          <h4 class="alert-heading">No hay registros</h4>
          <p>
            <i class="fa fa-exclamation fa-2x"></i>
          </p>
        </div>
        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn fast">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-circle-o-notch"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div>
      </div>
    </div>
  </div>
       </div>
</div>

  
<div class="modal fade" id="nuevo" tabindex="-1" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Registrar un nuevo administrador</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="guardar( form )" #form="ngForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="name" class="control-label">Nombre:</label>
              <input [(ngModel)]="registro.name" name="name" type="text" class="form-control" required>
            </div>
            <div class="form-group col-md-4">
              <label for="ap_patern">Apellido paterno:</label>
              <input [(ngModel)]="registro.ap_patern" name="ap_patern" type="text" class="form-control" required>
            </div>
            <div class="form-group col-md-4">
              <label for="ap_matern">Apellido materno:</label>
              <input [(ngModel)]="registro.ap_matern" name="ap_matern" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="curp">Curp:</label>
            <input [(ngModel)]="registro.curp" name="curp" type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-4">
            <label for="cell_phone">Teléfono celular:</label>
            <input [(ngModel)]="registro.cell_phone" name="cell_phone" type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-4">
            <label for="telefone">Teléfono:</label>
            <input [(ngModel)]="registro.telefone" name="telefone" type="text" class="form-control" required>
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="email">Correo electrónico:</label>
          <input [(ngModel)]="registro.email" name="email" type="text" class="form-control" required>
        </div>
        <div class="form-group col-md-4">
          <label for="password">Contraseña:</label>
          <input [(ngModel)]="registro.password" name="password" type="password" class="form-control" required>
        </div>
        <div class="form-group col-md-4">
          <label for="password_confirmation">Confirmar contraseña:</label>
          <input [(ngModel)]="registro.password_confirmation" name="password_confirmation" type="password" class="form-control" required>
        </div>
    </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-rounded btn-danger m-r-10" data-dismiss="modal">
              <i class="ti ti-close"></i>
              Cancelar
            </button>
            <button type="submit" class="btn btn-rounded btn-info m-r-10">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button type="button" class="btn btn-rounded btn-success">
            <i class="ti ti-reload"></i>
              limpiar
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>