<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Instituciones médicas</h4>
        <h6 class="card-subtitle"></h6>
       <button type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#nuevo"
          data-whatever="@mdo" style="float: right;">
          <i class="fa  fa-hospital-o"></i>
          Nuevo hospital
        </button>
          
        <div class="table-responsive m-t-40">
          <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10"
            *ngIf="!cargando && hospitals.length > 0">
            <thead class="table-info">
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Logo</th>
                <th>Acciones</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospitals of hospitals; let i = index">
                <td scope="arrow">{{ i+ 1 }}</td>
                <td>{{hospitals.name}}</td>
                <td>{{hospitals.direction}}</td>
                <td>
                  <div class="card" style="width: 4rem;">
                    <img class="w-100" src="{{'http://127.0.0.1:8000/hospital/'+hospitals.photo}}">
                  </div>
                </td>
                <td>
                <button class="btn btn-info mr-1" data-toggle="modal" data-target="#nuevo">
                    <i class="fa fa-pencil" (click)="returnHospital(hospitals.uuid)"></i>
                  </button>

                  <button class="btn btn-danger mr-1" (click)="borrar(hospitals,i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
          </table>
          <div *ngIf="!cargando && hospitals.length == 0"
            class="alert alert-warning text-center mt-3 animated fadeIn fast">
            <h4 class="alert-heading">No hay registros</h4>
            <p>
              <i class="fa fa-exclamation fa-2x"></i>
            </p>
          </div>
          <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn fast">
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fa  fa-circle-o-notch"></i>
            </p>
            <p class="mb-0">
              Espere por favor
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Registrar nuevo hospital</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="guardar( form )" #form="ngForm">
          <div class="form-group">
            <label for="name" class="control-label">Nombre:</label>
            <input [(ngModel)]="registro.name" name="name" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="direction" class="control-label">Dirección:</label>
            <input [(ngModel)]="registro.direction" name="direction" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <div class="card-img" *ngIf="registro.photo">
              <img class="w-100" src="{{'http://127.0.0.1:8000/hospital/'+registro.photo}}">
            </div>
            <angular-file-uploader [config]="afuConfig" [resetUpload]=true (ApiResponse)="imagenupload($event)">
            </angular-file-uploader>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-rounded btn-danger m-r-10" data-dismiss="modal">
              <i class="ti ti-close"></i>
              Cancelar
            </button>
            <button type="submit" class="btn btn-rounded btn-info m-r-10">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button type="button" class="btn btn-rounded btn-success" (click)="clearHospitals()">
            <i class="ti ti-reload"></i>
              limpiar
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>