<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/ima.jpeg);">
  <div class="login-box card">
  <div class="card-body">
  <form class="form-horizontal" action="index.html">
   <div class="form-group ">
  <div class="col-xs-12">
  <h3>Recuperar contraseña</h3>
  <p class="text-muted">¡Ingrese su correo electrónico y se le enviarán instrucciones! </p>
  </div>
   </div>
   <div class="form-group ">
  <div class="col-xs-12">
  <input class="form-control" type="text" required="" placeholder="Correo">
  </div>
   </div>
   <div class="form-group text-center m-t-20">
  <div class="col-xs-12">
  <button class="btn btn-rounded btn-info btn-lg btn-block waves-effect waves-light" type="submit" routerLink="/login">Enviar</button>
  </div>
   </div>
  </form>
  </div>
  </div>
  </section>

