<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/ima.jpeg);">
<div class="login-box card">
<div class="card-body">
<form class="form-horizontal form-material" id="loginform" action="pages-register2.html">
<h3 class="box-title m-b-20">Registrarse</h3>
<div class="form-group">
<label for="exampleFormControlSelect1" >Institución médica</label>
<br>
<br>
<select class="form-control" id="exampleFormControlSelect1">
  <option>Elija la institución</option>
  <option>IMSS</option>
  <option>Convadonga</option>
</select>
  </div>
  <br>
<div class="form-group ">
<div class="col-xs-12">
    <input class="form-control" type="text" required="" placeholder="Cédula médica">
</div>
</div>
<br>
<div class="form-group ">
<div class="col-xs-12">
    <input class="form-control" type="text" required="" placeholder="Especialidad ">
</div>
</div>
<br>
<div class="form-group ">
  <div class="col-xs-12">
      <input class="form-control" type="text" required="" placeholder="Sub especialidad ">
  </div>
  </div>
  <br>
<div class="form-group m-b-0">
<div class="col-sm-12 text-center">
    <button class="btn btn-block btn-lg btn-success btn-rounded" type="submit" routerLink="/register3">Siguiente</button>

</div>
</div>

</form>
</div>
</div>
  </div>
</section>
