<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center"><img src="../assets/images/icon/doctor.png" alt="Income" /></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Total de doctores</h6>
            <h2 class="m-t-0">
              {{countDoctor}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expediente.png" alt="Income" /></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Total de expedientes</h6>
            <h2 class="m-t-0">
              {{Expedient}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center"><img src="../assets/images/icon/hospital.png" alt="Income" /></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Hospitales registrados</h6>
            <h2 class="m-t-0">
              {{hospitals}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center"><img src="../assets/images/icon/paciente.png" alt="Income" /></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Pacientes en tratamiento</h6>
            <h2 class="m-t-0">
              {{CountPatient}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h3 class="card-title m-b-5"><span class="lstick"></span>Pacientes atendidos </h3>
          </div>
          <div class="ml-auto">
            <select class="custom-select b-0">
              <option selected="">Enero 2021</option>
              <option value="1">Febrero 2021</option>
            </select>
          </div>
        </div>
        <div id="sales-overview2" class="p-relative" style="height:360px;">
          <app-dona></app-dona>
        </div>
        <div class="stats-bar">
          <div class="row text-center">
            <div class="col-lg-4 col-md-4">
              <div class="p-20">
                <h6 class="m-b-0">Semanal </h6>
                <h3 class="m-b-0">$10,345</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="p-20">
                <h6 class="m-b-0">Mensual</h6>
                <h3 class="m-b-0">$7,589</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="p-20">
                <h6 class="m-b-0">Total</h6>
                <h3 class="m-b-0">$1,476</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h3 class="card-title m-b-5"><span class="lstick"></span>Expedientes descargados </h3>
          </div>
          <div class="ml-auto">
            <select class="custom-select b-0">
              <option selected="">Enero 2021</option>
              <option value="1">Febrero 2021</option>
            </select>
          </div>
        </div>
        <div id="ct-sales3-chart" class="p-relative" style="height:360px;">
          <app-dona></app-dona>
        </div>
        <div class="stats-bar">
          <div class="row text-center">
            <div class="col-lg-4 col-md-4">
              <div class="p-20">
                <h6 class="m-b-0">Semanal</h6>
                <h3 class="m-b-0">$10,345</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="p-20">
                <h6 class="m-b-0">Mensual</h6>
                <h3 class="m-b-0">$7,589</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="p-20">
                <h6 class="m-b-0">Total </h6>
                <h3 class="m-b-0">$1,476</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="right-aside ">
        <div class="right-page-header">
          <div class="d-flex">
            <div class="align-self-center">
              <h4 id="heading" class="card-title m-t-10">Lista de pacientes</h4>
            </div>
            <div class="ml-auto">
              <input type="text" id="demo-input-search2" placeholder="Buscar..." class="form-control">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10"
            *ngIf="!cargando && patients.length > 0">
            <thead class="table-success">
              <tr>
                <th>No</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patients of patients; let i = index">
                <td scope="arrow">{{ i+ 1 }}</td>
                <td *ngIf="patients.inquiries.patients_id">
                  <a id="list" [routerLink]="['pacientes', patients.persons.uuid]"><img src="../../../assets/images/users/carpeta.png" alt="user"
                      class="img-circle" />
                {{patients.persons.name+' '+patients.persons.ap_patern+' '+patients.persons.ap_matern}}</a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!cargando && patients.length == 0"
          class="alert alert-warning text-center mt-3 animated fadeIn fast">
          <h4 class="alert-heading">No hay registros</h4>
          <p>
            <i class="fa fa-exclamation fa-2x"></i>
          </p>
        </div>
        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn fast">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-circle-o-notch"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
